:root {
   --font-color: whitesmoke;
   --main-color: chocolate;
   --sec-color: #ccc;
}

* {
   margin: 0;
}

body {
   font-family: Arial, sans-serif;
   color: darkslategray;
   text-align: center;
}

header {
   position: sticky;
   top: 0;
   padding: 20px;
   background-color: var(--main-color);
   z-index: 3;
}

h1 {
   color: var(--font-color);
}

h3 {
   font-style: italic;
   margin-bottom: 1rem;
   text-decoration: 2px underline;
}

#balance {
   width: 40%;
   padding: 20px;
   margin: 20px auto;
   margin-bottom: 40px;
   border: 2px solid var(--sec-color);
   border-radius: 2rem;
   background-color: #f0f0f0;
}

#balance p {
   margin: 0 40px;
}

#transactions,
#transactionsHistory {
   width: 60%;
   margin: 20px auto;
   margin-top: 0;
   padding-bottom: 20px;
}

.transaction,
.transactionHistory {
   display: inline-block;
   width: 80%;
   border: 1px solid var(--sec-color);
   border-radius: 5px;
   padding: 10px;
   margin-bottom: 10px;
}

.transaction p,
.transactionHistory p {
   margin: 5px 0;
}

footer {
   position: fixed;
   bottom: 0;
   left: 0;
   padding: 5px;
   width: 100%;
   background-color: var(--main-color);
   color: var(--font-color);
}

footer a {
   text-decoration: none;
   color: var(--font-color);
}

footer a:hover {
   text-decoration: underline;
   color: var(--sec-color);
}